@media (min-width: 768px) {
  header {
    display: flex;
    height: 400px;
    width: 50%;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    margin-top: 100px;
  }
}
/* background-image: "public/images/E455C3E8-7F11-4539-AC57-52B96E3D202C_4_5005_c.jpeg";
 */
header img {
  margin-top: 50px;
}
