nav {
  display: flex;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav-logo {
  font-family: "bungee";
}
.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
