#tweet-text {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  border-width: 0px;
  background-color: #f4f1ec;
  border-bottom: solid 2px black;
  margin-bottom: 3px;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}
#tweet-form {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}

.tweet-box {
  display: flex;
  justify-content: space-between;
}
.red {
  color: red;
}
